<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Task</th>
      <th>Due date</th>
      <th>Name</th>
      <th>Location</th>
      <th>Complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.job_id %></td>
        <td><%= job.task_id %></td>
        <td><%= job.due_date %></td>
        <td><%= job.name %></td>
        <td><%= job.location %></td>
        <td><%= job.complete %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
